@import "../../../styles/variables";

.page {
    width: 100%;
    min-height: calc(100vh - #{$menu-vertical-height} - #{$footer-vertical-height});
    padding: $page-vertical-padding 0;

    > *:first-child {
        margin-top: 0 !important;
    }

    &--fullHeight{
      height: 100%;
      padding: 0
    }
}