@import "../../../styles/variables";

.logo {
    &--square {
        display: block;
        margin-left: auto;
        margin-right: auto;

        .logo__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &--with-label {
        display: flex;
        align-items: center;

        .logo__img {
            flex: 0;
            margin-right: $margin-between;
        }
        .logo__label {
            flex: 0;
            white-space: nowrap;
        }
    }
}