@import "react-dropdown/style.css";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.dropdowninput {
  min-width: 80px;

  .Dropdown {
    &-control {
      cursor: pointer;
      padding: 8px 30px 8px 10px;
    }

    &-arrow {
      top: 15px;
    }

    &-menu {
      z-index: 2;
      width: fit-content;
    }

    &-placeholder {
      white-space: nowrap;
    }

  }

  &--as-input {
    @include input-wrap;

    .Dropdown {
      &-control {
        @include input;
        cursor: pointer;
      }
    }

    .dropdowninput__spinner {
      @include input;
      padding: 0;

      .spinner {
        height: calc(#{$padding-input} * 2 + #{$font-size-default});
      }
    }

    .create-select{
      @include input;
      padding: 0;
      & div {
        border: none;
      }
    }
  }

  &--not-as-input {
    margin-top: $margin-top-small;

    .Dropdown {
      &-control {
        cursor: pointer;
        border: none;
        background: none;
        // width: 160px;
      }
    }
  }
}
