@import '../../../styles/variables';

$table-border-style: 1px solid #adadad;
$table-cell-padding-standard: 13px 26px;
$table-cell-padding-compact: 5px 10px;

.table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $margin-top-medium;
    width: 100%;

    .thead {
        border: 1px solid $black;
        background-color: $black;
        color: $white;

        .tr {
            .th {
                text-align: left;
                padding: $table-cell-padding-standard;

                &:not(:last-child) {
                    border-right: $table-border-style;
                }

                > * {
                    margin: 0;
                }

                &--clickable {
                    cursor: pointer;
                }
            }
        }
    }
    
    .tbody {
        background-color: $white;
        border-left: $table-border-style;
        border-right: $table-border-style;
        border-bottom: $table-border-style;
        color: $black;

        .tr {
            &:not(:last-child) {
                border-bottom: $table-border-style;
            }

            .td {
                padding: $table-cell-padding-standard;

                &:not(:last-child) {
                    border-right: $table-border-style;
                }

                > * {
                    margin: 0;
                }
            }
        }
    }
}

.table--compact {
    .thead {
        .tr {
            .th {
                padding: $table-cell-padding-compact;
            }
        }
    }

    .tbody {
        .tr {
            .td {
                padding: $table-cell-padding-compact;
            }
        }
    }
}

.table--striped {
    .tbody {
        .tr {
            &:nth-child(odd) {
                background-color: $grey-light;
            }
        }
    }
}