@import "react-datepicker/dist/react-datepicker.css";
@import "../../../styles/mixins";

.dateinput {
  @include input-wrap;

  .dateinput__input-wrap {
    position: relative;

    .dateinput__input {
      @include input;
      padding-right: 40px;
    }

    .react-datepicker__triangle{
      left: 50% !important;
      transform: none !important;
      z-index: 1;
    }

    .dateinput__icon {
      position: absolute;
      bottom: 12px;
      right: 12px;
    }
  }
}
