@import "./variables";
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* Override defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
}

/* Minimum height is height of window */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: 0s !important;
  background-color: $grey-light;
}

/* Typography */


/* Inputs */
fieldset {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}