/* Colours */
$cyan: #00AEEF;
$magenta: #C92A7A;
$yellow: #F8E12F;
$black: #111111;
$white: #ffffff;
$red: #B30000;
$grey-light: #F2F2F2;
$grey-dark: #808080;

/* Typography */
$font-size-label: 16px;

/* Layout */
$container-width-max: 1300px;
$container-horizontal-padding: 20px;

/* Spacing */
$margin-top-small: 10px;
$margin-top-medium: 20px;

/* Navbar */
$menu-vertical-height: 70px;
$menu-vertical-padding: 15px;

/* Footer */
$footer-vertical-height: 70px;