@import "../../../styles/mixins";

.row {
  @include row;

  &--disallow-wrapping {
    @include row-disallow-wrapping;
  }

  &--nospacing {
    > * {
      flex: 1;
      flex-grow: 0;
      
      button {
        white-space: nowrap;
      }
    }
  }
}
