.tab-container {
  border-radius: 10px;
  box-shadow: 3px 3px grey;
  border: 1px solid black;
  display: none;
  padding: 2rem;
  margin-top: 1rem;

  &--selected {
    display: flex;
  }
}

@media print {
  .tab-container {
    display: flex !important;
  }
}