@import "../../../styles/variables";

.tab-container {
  display: none;
  margin-top: $margin-top-medium;
  border: 1px solid black;
  min-height: 300px;

  &--selected {
    display: flex;
  }
}

@media print {
  .tab-container {
    display: flex !important;
  }
}