@import "../../../styles/variables";
@import "../../../styles/mixins";

.textinput {
  @include input-wrap;
  flex: 1;

  .textinput__input-wrap {
    position: relative;

    .textinput__input {
        @include input;
  
        &--rounded {
          @include input-rounded;
        }
    }
  
    .icon {
      position: absolute;
      bottom: 12px;
      left: 14px;
    }
  }

  &--has-icon {
    .textinput__input-wrap {  
      .textinput__input {
        padding-left: 40px;
      }
    }
  }

  &--login-form {
    .inputlabel{
      .inputlabel__label{
        color: white
      }
    }
    .textinput__input-wrap {  
      .textinput__input {
        background-color: $black;
        border-width: 0 0 2px 0;
        border-color: $cyan;
        color: white
      }
    }
  }

}
