@import "../../../styles/variables";
@import "../../../styles/mixins";

.textinput {
  @include input-wrap;
  margin-top: 0px !important;

  .textinput__input-wrap {
    position: relative;

    .textinput__input {
        @include input;
        margin-top: 20px;
        padding-left: 36px;
  
        &--rounded {
          @include input-rounded;
        }
    }
  
    .icon {
      position: absolute;
      bottom: 12px;
      left: 12px;
    }
  }

}
