@import "../../../styles/variables";
@import "../../../styles/mixins";

.stat-table {
  width: 100%;
  .overview {
    @media only screen and (min-width: 901px) {
      &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        grid-template-areas: "table score-distribution-wrapper score-distribution-wrapper";
      }

      .score-distribution-wrapper {
        overflow: auto;
        grid-area: score-distribution-wrapper;
      }
    }

    @media only screen and (max-width: 900px) {
      .score-distribution-wrapper {
        margin-top: 20px;
      }
    }
  }

  .other-props {
    margin-top: 20px;
    &__grid {
      display: grid;

      @include lg-screen {
        grid-template-columns: repeat(3, 1fr);
      }

      @include md-screen {
        grid-template-columns: repeat(2, 1fr);
      }

      @include sm-screen {
        grid-template-columns: repeat(1, 1fr);
      }

      grid-gap: 20px;
    }
  }
  .table {
    .thead {
      .tr {
        .th:first-child {
          width: 150px;
        }
      }
    }
  }
}

.leader {

  .table {
    .thead {
      .tr {
        .th:first-child {
          width: 30px;
        }
        .th:last-child {
          width: 50px;
        }
      }
    }
  }

  .team-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: "home-side away-side";
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
  }
  .home-side-banner {
    grid-area: home-side;
    display: inline;
    background: #f8e12f;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: bold;
    color: $black;
  }
  .away-side-banner {
    grid-area: away-side;
    display: inline;
    background: #c92a7a;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: bold;
    color: $white;
  }

  .result-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "home-side away-side";
  }

  .home-side {
    display: grid;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 901px) {
      grid-template-columns: 1fr 1fr;
    }

    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }

  .away-side {
    display: grid;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 901px) {
      grid-template-columns: 1fr 1fr;
    }
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }
}

@media print {
  @page {
    size: landscape;
  }
  .tab-container{
    display: block !important;
  }

  footer {
    display: block !important;
    position: static;
  }

  .table {
    .td {
      p {
        font-size: small;
      }
    }
    .th {
      div {
        font-size: small !important;
      }
    }
  }

  .account-dropdown {
    display: none;
  }

  .overview {
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "table" "score-distribution-wrapper";
    }

    .score-distribution-wrapper {
      overflow: auto;
      grid-area: score-distribution-wrapper;
    }
  }

  .leader {
    display: block;
    width: 100%;
    page-break-before: always !important;
    
    .team-side {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 10px 10px;
      grid-template-areas: "home-side away-side";
      justify-content: start;
      align-content: start;
      justify-items: stretch;
      align-items: stretch;
    }
    .home-side-banner {
      grid-area: home-side;
      display: inline;
      background: #f8e12f;
      text-align: center;
      margin-bottom: 20px;
      padding: 5px;
      font-weight: bold;
    }
    .away-side-banner {
      grid-area: away-side;
      display: inline;
      background: #c92a7a;
      text-align: center;
      margin-bottom: 20px;
      padding: 5px;
      font-weight: bold;
    }

    .result-table {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 10px 10px;
      grid-auto-flow: row;
      justify-content: start;
      align-content: start;
      justify-items: stretch;
      align-items: stretch;
      grid-template-areas: "home-side away-side";
    }

    .home-side {
      display: block;
    }

    .away-side {
      display: block;
    }
    
  }

  .match-statistic {
    zoom: 55% !important;
    .table {
      -moz-transform: scale(0.65);
      -moz-transform-origin: 0 0;
    }

    page-break-before: always;
    .table .tbody .tr .td > * {
      font-size: small;
    }
  }

  .overview__grid {
    display: block !important;
  }
  .other-props__grid {
    display: block !important;
  }
  .score-distribution-wrapper {
    break-inside: avoid !important;
  }
  table, ul, ol { 
    break-inside: avoid;
  }

  @-moz-document url-prefix() {
    footer {
      display: none !important;
    }
  }
}