@import '../../../styles/variables';
@import '../../../styles/mixins';

.stat-table {
    width: 100%;
    .overview {
        @media only screen and (min-width: 901px) {
            &__grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                grid-template-areas: "table score-distribution-wrapper score-distribution-wrapper";
            }

            .score-distribution-wrapper {
                overflow: auto;
                grid-area: score-distribution-wrapper;
            }
        }

        @media only screen and (max-width: 900px) {
            .score-distribution-wrapper {
                margin-top: 20px;
            }
        }
    }
    
    .other-props {
        margin-top: 20px;
        &__grid {
            display: grid;

            @include lg-screen {
                grid-template-columns: repeat(3, 1fr);
            }

            @include md-screen {
                grid-template-columns: repeat(2, 1fr);
            }

            @include sm-screen {
                grid-template-columns: repeat(1, 1fr);
            }

            grid-gap: 20px;
        }
    }
}

.leader {
    .team-side {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 10px 10px; 
        grid-template-areas: "home-side away-side"; 
        justify-content: start; 
        align-content: start; 
        justify-items: stretch; 
        align-items: stretch; 
    }
    .home-side-banner { 
        grid-area: home-side;
        display: inline;
        background: #F8E12F;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
        font-weight: bold;
        color: $black;
    }
    .away-side-banner { 
        grid-area: away-side; 
        display: inline;
        background: #C92A7A;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
        font-weight: bold;
        color: $white;
    }

    .result-table {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        justify-content: start;
        align-content: start;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
          "home-side away-side";
      }
      
      .home-side {  
        display: grid;
        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 901px) {
            grid-template-columns: 1fr 1fr;
        }

        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
      }
      
      .away-side {  
        display: grid;
        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 901px) {
            grid-template-columns: 1fr 1fr;
        }
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
      }
}

@media print {
  .overview {
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "table" "score-distribution-wrapper";
    }

    .score-distribution-wrapper {
      overflow: auto;
      grid-area: score-distribution-wrapper;
    }
  }

  .leader {
    display: block;
    width: 100%;

    .team-side {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 10px 10px; 
        grid-template-areas: "home-side away-side"; 
        justify-content: start; 
        align-content: start; 
        justify-items: stretch; 
        align-items: stretch; 
    }
    .home-side-banner { 
        grid-area: home-side;
        display: inline;
        background: #F8E12F;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
        font-weight: bold;
    }
    .away-side-banner { 
        grid-area: away-side; 
        display: inline;
        background: #C92A7A;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
        font-weight: bold;
    }

    .result-table {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        justify-content: start;
        align-content: start;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
          "home-side away-side";
      }
      
      .home-side {  display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
      }
      
      .away-side {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
      }
    }
}