@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
    @include container;

    &-fullwidth {
        width: 100%;
        padding: 0;
    }
}

@media print {
  .container{
    max-width: unset;
    // width: 100%;
    // margin: 0;
  }
}