@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
    background-color: $black;
    color: $white;
    min-height: $footer-vertical-height;

    .footer__container {
        @include container;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .footer__logo {
            flex: 0;
            padding: 10px;
            padding-left: 0;
            height: $footer-vertical-height;
            padding: 20px 0;
            padding-right: 10px;
            cursor: pointer;
        }
    }
}

@media print {
  .footer{
    position: static;
    // bottom: 0;
    width: 100%;
  }
}