@import "../../../styles/variables";
@import "../../../styles/mixins";

.match-fixture {
  background: $white;
  margin-top: $margin-top-medium;
  padding: $padding-component-medium;

  > .row {
    margin-top: 0;
    @include md-screen {
      @include row-wrap;
    }
  }

  .score {
    white-space: nowrap;
    margin-left: 10px;
    &--winner {
      font-weight: bold;
    }
    &--loser {
      font-weight: 400;
    }
  }

  .time {
    white-space: nowrap;
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 5px;
      min-width: 15px;
    }
  }

  .location {
    display: flex;
    align-items: center;
    flex: 1;

    &__icon {
      margin-right: 5px;
      min-width: 15px;
    }
  }

  .fixture-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "home-team away-team time location button";
    
    @media screen and (min-width: 1001px) {
      .button {
        margin: auto;
      }
    }

    @include md-screen {
      display: block;
      .button {
        margin-left: 0;
      }
    }
  }

  .home-team {
    grid-area: home-team;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    
  }

  .away-team {
    grid-area: away-team;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .time {
    grid-area: time;
  }

  .location {
    grid-area: location;
  }

  .button {
    grid-area: button;
  }
}
