@import "../../styles/variables";

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;

  .form {
    .title {
      border-color: $cyan;
      border-style: solid;
      border-width: 0 0 2px 0;
      width: 100%;
      h1 {
        color: $white
      }
    }

    .textinput {
      margin-top: $margin-top-large !important;

      .inputlabel {
        .inputlabel__label {
          color: $white
        }
      }

      .textinput__input-wrap {
        .textinput__input {
          background-color: $black;
          border-width: 0 0 2px 0;
          border-color: $grey-mid;
          color: $white;

          &:focus {
            border-color: $cyan;
          }
        }
      }
    }

    .button {
      color: $white;
      background-color: $black;
      border-color: $cyan;

      &:hover {
        background-color: $cyan;
      }

    }
    
    .checkbox{
      .checkbox__input-wrap {
        .checkmark {
          background-color: $white;
        }
        .checkbox__label{
          color: $white;
        }
      }
    }

    .error-text {
      color: $white;
    }
  }

  .logo-wrapper{
    height: 50px;
    img { 
      height: 100%; 
      width: auto 
    }
  }
}